<!--HTML SICOOB -->

<mat-card class="form-card">
  <mat-card-title class="title">Banco Sicoob</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">

      <!-- Descrição -->
      <mat-form-field appearance="outline">
        <mat-label>Descrição/Nome do Evento</mat-label>
        <input matInput formControlName="descricao">
        <mat-icon matSuffix *ngIf="form.get('descricao')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('descricao')?.hasError('required')">Campo obrigatório</mat-error>
        <mat-error *ngIf="form.get('descricao')?.hasError('minlength')">Mínimo 3 caracteres</mat-error>
      </mat-form-field>

      <!-- Código Manager -->
      <mat-form-field appearance="outline">
        <mat-label>Código Manager</mat-label>
        <input matInput formControlName="codigoManager" mask="0000"> <!-- até 4 dígitos -->
        <mat-icon matSuffix *ngIf="form.get('codigoManager')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('codigoManager')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Sigla -->
      <mat-form-field appearance="outline">
        <mat-label>Sigla</mat-label>
        <input matInput formControlName="sigla" />
        <mat-icon matSuffix *ngIf="form.get('sigla')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('sigla')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Cedente Conta -->
      <mat-form-field appearance="outline">
        <mat-label>Cedente-Conta</mat-label>
        <input matInput formControlName="cedenteConta" mask="000000"> <!-- até 10 dígitos -->
        <mat-icon matSuffix *ngIf="form.get('cedenteConta')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('cedenteConta')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Dígito Conta -->
      <mat-form-field appearance="outline">
        <mat-label>Dígito Cedente/Conta</mat-label>
        <input matInput formControlName="digitoConta" mask="0"> <!-- 1 dígito -->
        <mat-icon matSuffix *ngIf="form.get('digitoConta')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('digitoConta')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Chave -->
      <mat-form-field appearance="outline">
        <mat-label>Chave</mat-label>
        <input matInput formControlName="chave">
        <mat-icon matSuffix *ngIf="form.get('chave')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('chave')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Agência -->
      <mat-form-field appearance="outline">
        <mat-label>Agência</mat-label>
        <input matInput formControlName="agencia" mask="0000"> <!-- 4 dígitos -->
        <mat-icon matSuffix *ngIf="form.get('agencia')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('agencia')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Seq Inicial -->
      <mat-form-field appearance="outline">
        <mat-label>Sequência Inicial de Boletos</mat-label>
        <input matInput formControlName="seqInicial" mask="000000"> <!-- 6 dígitos -->
        <mat-icon matSuffix *ngIf="form.get('seqInicial')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('seqInicial')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Seq Final -->
      <mat-form-field appearance="outline">
        <mat-label>Sequência Final de Boletos</mat-label>
        <input matInput formControlName="seqFinal" mask="000000"> <!-- 6 dígitos -->
        <mat-icon matSuffix *ngIf="form.get('seqFinal')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('seqFinal')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Botão -->
      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" [ngClass]="{active: form.valid}">
          Enviar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

