<!-- home.component.html -->


<div class="home-container" [class.com-selecao]="bancoSelecionado">
  <h2 class="titulo">Cadastro Bancário</h2>

  <div class="container">
    <mat-form-field appearance="outline" class="select-banco">
      <mat-label>Selecione o Banco</mat-label>
      <mat-select [(value)]="bancoSelecionado">
        <mat-option value="">-- Selecione o Banco --</mat-option>
        <mat-option value="BB">Banco do Brasil</mat-option>
        <mat-option value="SICOOB">Sicoob</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="conteudo" *ngIf="bancoSelecionado">
    <ng-container *ngIf="bancoSelecionado === 'BB'">
      <app-banco-brasil></app-banco-brasil>
    </ng-container>
    <ng-container *ngIf="bancoSelecionado === 'SICOOB'">
      <app-sicoob></app-sicoob>
    </ng-container>
  </div>
</div>
