<!-- home.component.html -->
<!-- <h2>Cadastro Bancário</h2>

<select [(ngModel)]="bancoSelecionado">
  <option value="">-- Selecione o Banco --</option>
  <option value="BB">Banco do Brasil</option>
  <option value="SICOOB">Sicoob</option>
</select>

<div *ngIf="bancoSelecionado === 'BB'">
  <app-banco-brasil></app-banco-brasil>
</div>

<div *ngIf="bancoSelecionado === 'SICOOB'">
  <app-sicoob></app-sicoob>
</div> -->



<h2>Cadastro Bancário</h2>

<mat-form-field appearance="outline" class="full-width">
  <mat-label>Selecione o Banco</mat-label>
  <mat-select [(value)]="bancoSelecionado">
    <mat-option value="">-- Selecione o Banco --</mat-option>
    <mat-option value="BB">Banco do Brasil</mat-option>
    <mat-option value="SICOOB">Sicoob</mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="bancoSelecionado === 'BB'">
  <app-banco-brasil></app-banco-brasil>
</div>

<div *ngIf="bancoSelecionado === 'SICOOB'">
  <app-sicoob></app-sicoob>
</div>
