<!-- banco-brasil.component.html -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">

<mat-card class="form-card">
  <mat-card-title class="title">Banco do Brasil</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid">

      <mat-form-field appearance="outline">
       <mat-label>Descrição/Nome do Evento</mat-label>
       <input matInput formControlName="descricao">
       <mat-icon matSuffix *ngIf="form.get('descricao')?.valid" class="valid-icon">done</mat-icon>
       <mat-error *ngIf="form.get('descricao')?.hasError('required')">Campo obrigatório</mat-error>
       <mat-error *ngIf="form.get('descricao')?.hasError('minlength')">Mínimo 3 caracteres</mat-error>
      </mat-form-field>

      <!-- Código Manager -->
      <mat-form-field appearance="outline">
        <mat-label>Código Manager</mat-label>
        <input matInput formControlName="codigoManager"  mask="000000"> <!-- até 6 dígitos -->
        <mat-icon matSuffix *ngIf="form.get('codigoManager')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('codigoManager')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Sigla -->
      <mat-form-field appearance="outline">
        <mat-label>Sigla</mat-label>
        <input matInput formControlName="sigla">
        <mat-icon matSuffix *ngIf="form.get('sigla')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('sigla')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Número Convênio -->
      <mat-form-field appearance="outline">
        <mat-label>Número do Convênio</mat-label>
        <input matInput formControlName="numeroConvenio" mask="0000">
        <mat-icon matSuffix *ngIf="form.get('numeroConvenio')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('numeroConvenio')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- E-commerce -->
      <mat-form-field appearance="outline">
        <mat-label>E-commerce</mat-label>
        <input matInput formControlName="eCommerce" mask="0000">
        <mat-icon matSuffix *ngIf="form.get('eCommerce')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('eCommerce')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Carteira -->
      <mat-form-field appearance="outline">
        <mat-label>Carteira</mat-label>
        <input matInput formControlName="carteira" mask="000">
        <mat-icon matSuffix *ngIf="form.get('carteira')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('carteira')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>
    

      <!-- Variacão -->
      <mat-form-field appearance="outline">
        <mat-label>Variação</mat-label>
        <input matInput formControlName="variacao" mask="00">
        <mat-icon matSuffix *ngIf="form.get('variacao')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('variacao')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Cedente Conta -->
      <mat-form-field appearance="outline">
        <mat-label>Cedente-Conta</mat-label>
        <input matInput formControlName="cedenteConta" mask="0000000000">
        <mat-icon matSuffix *ngIf="form.get('cedenteConta')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('cedenteConta')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Digito Conta -->
      <mat-form-field appearance="outline">
        <mat-label>Dígito Cedente/Conta</mat-label>
        <input matInput formControlName="digitoConta" mask="0">
        <mat-icon matSuffix *ngIf="form.get('digitoConta')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('digitoConta')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Agência -->
      <mat-form-field appearance="outline">
        <mat-label>Agência</mat-label>
        <input matInput formControlName="agencia" mask="0000">
        <mat-icon matSuffix *ngIf="form.get('agencia')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('agencia')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <!-- Digito Agência -->
      <mat-form-field appearance="outline">
        <mat-label>Dígito Agência</mat-label>
        <input matInput formControlName="digitoAgencia" mask="0">
        <mat-icon matSuffix *ngIf="form.get('digitoAgencia')?.valid" class="valid-icon">done</mat-icon>
        <mat-error *ngIf="form.get('digitoAgencia')?.hasError('required')">Campo obrigatório</mat-error>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" [ngClass]="{active: form.valid}">
          Enviar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
